* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.mainContent {
  display: flex;
  height: 100vh;
  background-color: #fff;
}

.left {
  width: 30%;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.right {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-bottom: 20px;
  margin-left: 15px;
}

.form__field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.user-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-status{
  display: flex;
  flex-direction: column;
}

.form__label {
  display: none;
}

.a-tag {
  display: flex;
  justify-content: space-between;
}

.a-tag div {
  flex: 1; 
  text-align: center; 
}

.a-tag a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  white-space: nowrap;
  transition: color 0.3s, background-color 0.3s; 
}

.a-tag a.active {
  color: rgb(15, 115, 255); 
}

.a-tag a:hover {
  color: rgb(15, 115, 255);
}

.leftContent {
  flex: 1;
  overflow-y: auto;
}

.right .header {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right .header p {
  font-size: 18px;
}

.headerIcon a {
  margin-left: 15px;
  color: #333;
  text-decoration: none;
}

.rightContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #fafafa;
}

.rightFooter {
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatFunction {
  display: flex;
  align-items: center;
}

.chatFunction i {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.chatInput {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 10px;
}

.chatInput input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#sendButton {
  width: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#sendButton:hover{
  background-color: #b8b8b8;
  cursor: pointer;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


.message .messageContent {
  background-color: #f1f1f1;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
}

.message.sent .messageContent {
  background-color: #d1f0ff;
  align-self: flex-end;
}

.message.received .messageContent {
  background-color: #e0e0e0;
}

.chatUser{
  display: flex;
  height: 50px;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}

.chatUser:hover{
  background-color: #c0c0c0;
}

.content{
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
}
.chatUser {
  cursor: pointer;
}
.message {
  display: flex;
  align-items: center;
  margin: 10px 0; 
}

.message.received {
  justify-content: flex-start; 
}

.message.sent {
  justify-content: flex-end; 
}

.avatar {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

.messageContent {
  max-width: 70%; 
  padding: 10px; 
  border-radius: 10px; 
}

.received .messageContent {
  background-color: #f1f1f1; 
}

.sent .messageContent {
  background-color: #f1f1f1; 
}

.file-label {
  cursor: pointer; 
  margin-left: 10px; 
  font-size: 1.5em; 
}

#deleteChatButton{
  margin-left: 10px;
}

#deleteChatButton i{
  color:#000;
}